<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.boot.entity.Permission">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  
  <select id="selectRolePermission" resultType="java.lang.Object">
  		SELECT permission FROM sys_permission WHERE roleId=#{roleId}
  </select>

</mapper>