<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.boot.entity.SysRole">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  
  <select id="selectUserRole" resultType="java.lang.Object">
  		SELECT 
  			r.rolename 
  		FROM 
	  		sys_user_role ur,
	  		sys_role r 
	   WHERE 
	   		ur.roleId=r.id 
	    AND ur.userId=#{userId}
  </select>
  
  <select id="selectRoles"  resultType="com.boot.entity.SysRole">
  		SELECT r.* FROM sys_user_role ur,sys_role r WHERE ur.roleId=r.id AND ur.userId=#{userId}
  </select>

</mapper>